.home {


  min-height: 100vh;
  background-image: url('home.jpg'); 
  background-size: cover; 
  background-position: center;
  

}

.logo1{
  height: 30rem;
  width: 50rem;
}

.text1{
  color: #fff;
  width: 50rem;
  margin-top: 0;
  margin-left: 3rem;
}

.container {
  position: relative;
  display: flex;
  align-items: left;
}

.text-overlay {
  width: 50rem;
  position: absolute;
  top: 70%;
  /* left: 1rem; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  color: white;
}


