nav ul{
	text-align: center;
}

nav li{
	display: inline;
	font-size: 25px;
}

form li {
	display: inline;
	
}

form ul {
	padding: left;
	float: right;
}

form input {
	margin-right: 166px;
}

#homeElements {
	text-align: center;
}

#footerElements {
	text-align: center;
	
}

#categories {
	margin-left: 100px;
}

#createEventButton {
	margin-left: 800px;
}