nav ul{
	list-style-type: none;
}
nav a{
	padding: right;
	
}
nav li{
	display: inline;
}
form li {
	display: inline;
	
}
form ul {
	padding: left;
	float: right;
}

form input {
	margin-right: 166px;
}